# Ignore Node.js modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build files
dist/
build/

# Ignore environment variables
.env
.env.local
.env.development
.env.production

# Ignore editor files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
logs/
*.log
